

<div class="container">
<div class="col-md-5">
    <div class="form-area">  
        <form [formGroup]="coffeeForm" (ngSubmit)="onSubmit()">
        <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Form</h3>
    				
            <img src={{imageUrl}} alt="..." class="img-responsive" *ngIf="!isNew">

            <div class="form-group">
              <input
              type="text" 
              class="form-control" 
              id="name" 
              placeholder="Coffee Name"
              formControlName="coffeeName">
            </div>

            <div class="form-group">
              <input
              type="text" 
              class="form-control" 
              id="price" 
              placeholder="Price"
              formControlName="price">
            </div>

            <div class="form-group">
              <span class="result" *ngIf="data1.image" >
                <img [src]="data1.image" 
                [width]="cropperSettings1.croppedWidth" 
                [height]="cropperSettings1.croppedWidth">
              </span>
              
              <span>
                <img-cropper [image]="data1" [settings]="cropperSettings1" (onCrop)="cropped($event)"></img-cropper>
              </span> 
                  
            </div>

        <button *ngIf="isNew" (click)="createCoffee()" type="button" id="submit" name="submit" class="btn btn-primary pull-right">Create</button>
        <button *ngIf="!isNew" (click)="updateCoffee()" type="button" id="submit" name="submit" class="btn btn-primary pull-right">Edit</button>
        </form>
    </div>
</div>
</div>

