<div style="padding:5px"><a [class.active]="allStatus" (click)=filterAll()>ALL </a></div>
<div *ngFor="let category of categories"
 style="padding:5px">
 <a  [class.active]="activeStatus[category.$key]"  (click)=filter(category)>{{category.name | uppercase}}</a>
</div>

<div>
    <!--<input type="hidden" name="toggle" [(ngModel)]="user.toggle">-->
      <div class="checkbox" *ngFor="let type of types">
        <label>
          <input type="checkbox" [checked]="true" 
              (change)="boxChanges($event.target.checked, type)">
          {{ type.name }}
        </label>
      </div>
</div>

