
<div style="padding:5px">
  <a [class.active]="allStatus" 
  (click)=filterAll()
  style="color: #444">All
  </a>
</div>

<div *ngFor="let category of categories"
 style="padding:5px">
 <a [class.active]="activeStatus[category.$key]" 
 (click)=filter(category)
 style="color:#444">{{category.name}}</a>
</div>


<h5 style="color: #999;">TYPES</h5>

<div>
      <div class="checkbox" *ngFor="let type of types">
        <label>
          <input type="checkbox" [(ngModel)]="type.status"
              (change)="boxChanges($event.target.checked, type.name)">
          <span style="color:#999">{{ type.name }}</span>
        </label>
      </div>
</div>

