
    <div class="box">
			<div class="content">
				<div class="login" style="margin-bottom:15px">
					<!-- <div class="social">
						<a id="facebook_login" class="circle facebook"
							(click)="facebookLogin()" *ngIf="!newAccount">
							<i class="fa fa-facebook fa-fw"></i>
						</a>
					</div> -->
					<!-- <div class="division" *ngIf="!newAccount">
						<div class="line l"></div>
							<span>or</span>
						<div class="line r"></div>
					</div> -->
          <div *ngIf="errStatus" style="color: red;">Invalid email or password</div>
					<h4 class="modal-title" *ngIf="!newAccount">Login with</h4>
					<h4 class="modal-title" *ngIf="newAccount">Register with</h4>
					<div class="form loginBox" *ngIf="!newAccount">
						<form [formGroup]="loginForm" (ngSubmit)="login()">
						<input formControlName="email" class="form-control" type="text" placeholder="Email" name="email">
						<input formControlName="password" class="form-control" type="password" placeholder="Password" name="password">
            <button class="btn btn-default btn-login" type="submit">
              <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true" *ngIf="spinning"></i>
              Login
            </button>
						<!--<input class="btn btn-default btn-login" type="button" value="Logout" (click)="logout()">-->
						</form>
					</div>
					<div class="form" *ngIf="newAccount">
						<form [formGroup]="registerForm" (ngSubmit)="register()">
            <input *ngIf="newCompany" class="form-control" formControlName="companyName" type="text" placeholder="Company Name" name="companyName">
						<input class="form-control" formControlName="email" type="text" placeholder="Email" name="email">
						<input class="form-control" formControlName="password" type="password" placeholder="Password" name="password">
						<input class="form-control" formControlName="confirm" type="password" placeholder="Repeat Password" name="password_confirmation">
						<input class="btn btn-default btn-register"
               type="submit" value="Create account"
               [disabled]="posted">
						</form>
					</div>
				</div>
				<!-- <div class="col-md-6 login" *ngIf="!newAccount">
					<h4 class="modal-title"> Guest account </h4>
					<div class="form loginBox">
						<input id="email" class="form-control" type="text" placeholder="Name" 		name="name" #guestInput>
						<input class="btn btn-default btn-login"
							type="button"
							value="Login as guest"
							(click)="loginAsGuest(guestInput.value)">
					</div>
				</div> -->
			</div>
		</div>

    <!-- <div class="forgot login-footer" *ngIf="!newAccount">
				<span>Looking to
						<a (click)="toggleLogin(false)">create an account</a>
            or
            <a (click)="toggleLogin(true)">create company account</a>
				?</span>
			</div>
			<div class="forgot register-footer" *ngIf="newAccount">
					<span>Already have an account?</span>
					<a (click)="toggleLogin(false)" >Login</a>
			</div> -->
