<div class="container main">
  <div class="row">
    <div class="col-md-2 col-lg-2">
    
        <!--<category-selector (filter)="onFilter($event)"></category-selector>-->
       
     
        <div class="refinement-group" style="border-right: 1px solid #DDD">
          
          <h3 style="color: #999;">MENUS</h3>
         
          <category-selector (filter)="onFilter($event)"></category-selector>
        </div>

    </div>

    
    <div class="col-md-10 col-lg-10">
      
      <div class="row">

            <!--<div (filter)="onFilter($event)">
            </div>-->

            <div class="col-md-4 col-lg-4" 
                *ngFor="let coffee of coffees | coffeeFilter:filterArg; let i = index;"
                style="background-color: white; height: 386px;">
                <coffee-component [coffee]="coffee"></coffee-component>
                
            </div>
            
            <div class="col-md-4 col-lg-4" style="margin-top:10px;">
               <a (click)="staticModal.show()"
                style="color: #444;">
                <i class="fa fa-plus-square-o fa-2x"></i>&nbsp; <u>New Coffee</u>
              </a>         
            </div>
            
      </div><!--/row-->
    </div><!--/span-->

    
  </div><!--/row-->
 
  <hr>

  <footer>
    <p>© Arm Company 2017</p>
  </footer>

</div><!--/.container-->


<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
                  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog"> 
    <div class="modal-content" style="width:750px;height:470px;margin:0px;margin-left:-15%">
      <div class="modal-header">
        <h4 class="modal-title pull-left">ADD NEW COFFEE</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-coffee-edit (hideModal)="hideModal()"></app-coffee-edit>
      </div>
    </div>
  </div>
</div>

