.product-tile .img-middle {
    cursor: pointer;
    height: 0;
    min-width: 100%;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
}

.img-middle .img-responsive {
    margin: 0 auto;
}

.product-info .product-title {
    margin-bottom: 5px;
    margin-top: 5px;
}

.product-info .product-comment {
    margin-bottom: 5px;
}

.product-info {
    color: #444;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.7;
    min-height: 130px;
    max-height: 160px;
    width: 100%;
}

.product-info a {
    color: #444;
    display: block;
    text-decoration: none!important;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
}


.product-price {
    color: #000;
    font-size: 15px;
    font-weight: 700;
    max-height: 50px;
    min-height: 25px;

}

.product-price-wrapper {
    width: 100%;
}

#product-boarder {
    border-bottom: thin solid #444;
    margin-bottom: 5px;
    margin-top: 10px;
}
