<div class="container main">

  <div class="row">
    <!--<div class="col-md-2 col-lg-2">
     
        <div class="refinement-group" style="border-right: 1px solid #DDD">
          
          <div style="color: black;font-size:14px;">MENUS</div>
         
          <category-selector (filter)="onFilter($event)"></category-selector>
        </div>

    </div>-->

    
   
            <!--<div (filter)="onFilter($event)">
            </div>-->

            <div class="col-md-3 col-lg-3" 
                *ngFor="let coffee of coffees | coffeeFilter:filterArg; let i = index;"
                style="background-color: white; height: 425px;">
                <coffee-component [coffee]="coffee" (editCoffeeOutput)="onEdit($event)"></coffee-component>
            </div>
            
            <div class="col-md-3 col-lg-3" style="margin-top:10px;">
               <a (click)="newCoffee()"
                style="color: #444;font-weight: 300;">
                <i class="fa fa-plus-square-o fa-2x"></i>&nbsp; <u>New Coffee</u>
              </a>         
            </div>
     
    
  </div><!--/row-->
 
  <hr>

  <footer>
    <div>© Arm Company 2017</div>
  </footer>

</div><!--/.container-->


<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
                  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog"> 
    <div class="modal-content" style="width:850px;height:535px;margin:0px;margin-left:-25%">
      <div class="modal-header">
        <h4 class="modal-title pull-left">ADD NEW COFFEE</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-coffee-edit (hideModal)="hideModal()"></app-coffee-edit>
      </div>
    </div>
  </div>
</div>

