<div [ngClass]="!mouseOver ? 'product-title' : 'product-title custom'"
    id="product-boarder"
    (mouseover)='over()'
    (mouseleave)='out()'>

    <div class="img-middle">
        <img alt="Simple Living Seneca Reclaimed Double 'X' Design Cocktail Table"
        src= {{coffee?.url}}
        class="img-responsive product-img "
        align="middle"
        style="border-radius: 8px;padding-top:2px">
    </div>

    <div class="product-info" style="height:200px">
        <div *ngIf="mouseOver && role === 'Manager'" style="height:5px">
            <div class="x-container" (click)="deleteCoffee()">
                <i class="fa fa-times-rectangle-o" aria-hidden="true"></i>
            </div>
            <br>
            <div class="pencil-container"  (click)="editCoffee()">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 pull-left" style="padding: 0px;font-weight: 200;">
            <div class="product-title pull-left">{{coffee?.name}} ({{typesMap.get(coffee?.type)}})</div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 pull-right"
            style="padding: 0px; text-align: right; margin-top: 5px; margin-bottom: 2px">

            <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0; padding-top: 2px">
                <a class="btn" (click)="minus()" style="padding: 0">
                    <i class="fa fa-minus-square fa-2x"></i>
                </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                <input type="text" name="quant[1]"
                    class="form-control input-number"
                    [(ngModel)]="coffeeCount"
                    min="1"
                    style="text-align: center;">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0; padding-top: 2px; padding-right: 1px">
                <a class="btn" (click)="plus()" style="padding: 0">
                    <i class="fa fa-plus-square fa-2x"></i>
                </a>
            </div>
        </div>

        <div class="product-comment" style="padding: 0px">
            <textarea class="form-control"
                style="min-width: 100%"
                [(ngModel)]='comment'
                placeholder="please leave a comment here..."></textarea>
        </div>
        <div class="product-price-wrapper">
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding: 0px;">
                <div class="product-price standard" style="font-weight: 400;">{{ coffee?.price | currency:'THB':true}}</div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6"
                style="padding: 0px; text-align: right">
                <button type="button"
                    class="btn btn-default"
                    (click)="add()"
                    *ngIf="mouseOver">
                    <i class="fa fa-shopping-cart" style="font-weight: bold;font-weight: 500;"> Add</i>
                </button>
            </div>
        </div>

    </div>

</div>




