.product-tile .img-middle {
    cursor: pointer;
    height: 0;
    min-width: 100%;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
}

.product-tile .product-info {
    color: #444;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.7;
    min-height: 130px;
    max-height: 160px;
    width: 100%;
}
