<div class="container main">
  <div class="row">
    <div class="col-md-2 col-lg-2">
        <div class="refinement-group" style="border-right: 1px solid #DDD">
          
          <h3 class="refinement-heading top" style="color: #999;">MENUS</h3>
         
          <category-selector (filter)="onFilter($event)"></category-selector>
        </div>
    </div>
    
    <div class="col-md-10 col-lg-10">
      
      <div class="row">
            <!--coffee component-->
            <div class="col-md-4 col-lg-4" 
                *ngFor="let coffee of coffees | coffeeFilter:filterArg"
                style="background-color: white">
                <coffee-component [coffee]="coffee"></coffee-component>
            </div>
            <!--add new coffee-->
            <div class="col-md-4 col-lg-4" style="margin-top:10px;">
               <a (click)="newCoffee()"
                style="color: #444;">
                <i class="fa fa-plus-square-o fa-2x"></i>&nbsp; <u>New Coffee</u>
              </a>         
            </div>
            
      </div><!--/row-->
    </div><!--/span-->

    
  </div><!--/row-->
 
  <hr>

  <footer>
    <p>© Arm Company 2017</p>
  </footer>

</div><!--/.container-->


