

<h2>Coffee Cart</h2>
<div>
    <table class="table">
        <tr>
            <th>Coffee</th>
            <th>Type</th>
            <th>Qty</th>
            <th>Comment</th>
            <th>Cost</th>
            <th>Update</th>
            <th>Delete</th>
            <th></th>
        </tr>
        <tr *ngFor="let cartItem of cartItems">
            <td><input type="text" value={{cartItem.coffeeName}}></td>           
            <td><input type="text" value={{cartItem.coffeeType}}></td>
            <td><input type="number" value={{cartItem.qty}}></td>
            <td><input type="text" value={{cartItem.comment}}></td> 
            <td><input type="number" value={{cartItem.price}}></td>
            <td><button class="btn btn-success pull-right" type="button" (click)="update()">Update</button></td>
            <td><button class="btn btn-danger pull-right" type="button" (click)="delete(cartItem)">Delete</button></td>           
        </tr>
         
        <tr>
            <td>Total:</td>
            <td>{{total}}</td>
        </tr>
    </table>
</div>
