
.container.main {
    padding-top: 100px;
}

/*.thumbnail{        
    width: 250px; 
    height: 300px;
    overflow: auto;
}

img {
    width: 252px;
    height: 158px;
}

body {
    color: white;
}*/