
  <div class="col-md-10">
    <div class="card">
      <div class="header">
        <div class="row">
        <div class="col-md-6">
          <h4 class="title">Order overview table</h4>
        </div>
        <div class="col-md-6" style="text-align:right;">
           <span class="glyphicon glyphicon-plus" (click)="newUser()"></span>
        </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="category" style="padding-left:15px;">add and delete users from here</p>
          </div>
        </div>
      </div>
      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <th>Date & Time</th>
            <th>Employee</th>
            <th>Customer</th>
            <th>Coffees</th>
            <th>Total</th>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td>{{order.dateTime | date:'short'}}</td>
              <td>{{order.employeeEmail}}</td>
              <td>{{order.customerName}}</td>
              <td>
                <div *ngFor="let coffee of order.coffees">
                  {{coffee.coffeeName}}<span *ngIf="coffee.comment !== ''">, {{coffee.comment}}</span>, x{{coffee.qty}}
                </div>
              </td>
              <td>{{order.total}}
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

 <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: false}"
      tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" style="width: 450px;">
        <div class="modal-header">
          <h4 class="modal-title pull-left">CREATE USER</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <userform></userform>
        </div>
      </div>
    </div>
  </div>
