
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">OASIT</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</nav>

<div class="container main">
  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <a class="list-group-item active" (click)="filterCoffee()">Coffee</a>
        <a class="list-group-item">Menu</a>
        <a class="list-group-item">Special Menu</a>
        <a class="list-group-item">Frappe</a>
      </div>
    </div><!--/span-->

    <div class="col-xs-12 col-sm-9">
      
      <div class="row">

            <div class="col-sm-6 col-md-4" *ngFor="let coffee of coffees | coffeeFilter">
                <div class="thumbnail">
                <img src={{coffee.url}} alt="..." class="img-responsive">
                <div class="caption">
                    <h3>{{coffee.name}}</h3>
                    <p class="description">{{coffee.status}}</p>
                    <div>
                    <div class="clearfix">
                        <div class="price pull-left">{{coffee.price | currency:'THB':true}}</div>
                        <a href="#" class="btn btn-success pull-right" role="button">Add to cart</a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            
      </div><!--/row-->
    </div><!--/span-->

    
  </div><!--/row-->

  <hr>

  <footer>
    <p>© Company 2014</p>
  </footer>

</div><!--/.container-->


