<div class="col-md-8" style="width:450px">
  <div class="card">
    <div class="header">
      <h4 class="title">CREATE/EDIT USERS</h4>
    </div>
    <div class="content">
      <form [formGroup]="userForm" (ngSubmit)="createUser()">
        <div class="row">
          <div class="col-md-3" style="padding-top:15px">User's Info:</div>
          <div class="col-md-9">
            <div class="form-group">
              <input
              type="text"
              class="form-control"
              placeholder="Username"
              formControlName="username"
              class="form-control"
              name="username">

               <input
              type="email"
              class="form-control"
              placeholder="Email"
              formControlName="email"
              class="form-control"
              name="email">

              <input class="form-control" formControlName="password" type="password" placeholder="Password" name="password">

              <input class="form-control" formControlName="confirm" type="password" placeholder="Repeat Password" name="password_confirmation">

              <select class="form-control">
                <option>Manager</option>
                <option>Employee</option>
              </select>

            </div>
          </div>
        </div>


        <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
        <div class="clearfix"></div>
      </form>

    </div>
  </div>
</div>
