<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <div class="fresh-table full-color-orange">
                <!--    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
                        Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
                -->
                    <div class="toolbar">
                        <br>
                    </div>


                    <table id="fresh-table" class="table table-striped">
                        <thead style="
                            color: black;
                        ">
                          <th data-field="id">#</th>
                        	<th data-field="name" data-sortable="true">Time</th>
                        	<th data-field="salary" data-sortable="true">Name</th>
                        	<th data-field="country" data-sortable="true">Order Detail</th>
                          <th data-field="city">Status</th>
                          <th data-field="city">Total</th>
                        	<th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">Actions</th>
                        </thead>
                        <tbody style="font-weight:400;">
                            <tr *ngFor="let queue of queues; let i = index"
                                [ngClass]="{'finished': queue?.readyStatus}"
                                [ngStyle]="{ 'color': (highlighted && queue?.readyStatus ? 'black' : 'white') }">

                            	<td>{{i+1}}</td>
                            	<td>{{queue.dateTime | date:'shortTime'}}</td>
                            	<td>คุณ {{queue.customerName}}</td>
                            	<td>
                                <div *ngFor="let cartCoffee of queue.cartCoffees">
                                    {{cartCoffee.coffeeName}}<span *ngIf="cartCoffee.comment !== ''">, {{cartCoffee.comment}}</span>, x{{cartCoffee.qty}}
                                </div>
                              </td>
                            	<td>
                                <span *ngIf="!queue?.readyStatus"> &nbsp; ตอนนี้กำลังทำอยู่ครับ </span>
                                <span *ngIf="queue?.readyStatus"> &nbsp;  มารับกาแฟใด้เลยครับ </span>
                              </td>
                              <td>
                                  THB{{queue.total}}
                                </td>
                              <td style="float:left;" *ngIf="role === 'Manager' || role === 'Employee'">
                                  <button
                                  class="btn btn-danger btn-sm"
                                  (click)="openModal(template, queue)" style="float:right">
                                    <i class="fa fa-trash-o"></i>
                                  </button>

                                  <button *ngIf="queue?.readyStatus" class="btn btn-success btn-sm" (click)="markReady(queue.$key, false)"  style="float:right; margin-right:5px">
                                    <i class="fa fa-check-square-o"></i>
                                  </button>

                                  <button *ngIf="!queue?.readyStatus" class="btn btn-warning btn-sm" (click)="markReady(queue.$key, true)" style="float:right; margin-right:5px">
                                    <i class="fa fa-coffee"></i>
                                  </button>
                              </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>


<ng-template #template>
    <div class="modal-body text-center">
      <p>Do you want to confirm?</p>
      <button type="button" class="btn btn-default" (click)="deleteQueue()" >Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
    </div>
  </ng-template>
